body {
	text-align: center;
	font-family: 'Oswald', sans-serif;
	background-color: #F1F0EC;
	color: #F5F5F5;
}
#container {
	margin-top: 10%;
	margin-bottom: 10%;
	padding: 2px 0 5rem 0;
	border-radius: 9px;
	background-color: #00BDEB;
}
h2 {
	font-size: 100px;
	letter-spacing: 2px;
}
h4{
	letter-spacing: 1px;	
	margin-top: -60px;
}
p {
	font-size: 15px;	
}
#input-text {
	width: 30%;
	text-align: center;
	color: #F5F5F5;
	border-radius: 5px;
	background-color: #00BDEB;
	border: 2px solid #F5F5F5;
}
::-webkit-input-placeholder {
   color: #F5F5F5;
}
:-moz-placeholder {
   color: #F5F5F5;  
}
::-moz-placeholder {
   color: #F5F5F5;  
}
:-ms-input-placeholder {  
   color: #F5F5F5;  
}